.system-salon__container {
  width: 100%;
  max-width: 1250px;
  /* padding: 40px 16px; */
  background: #fff;
  margin: auto;
  margin-top: 120px;
  border-radius: 5px;
  box-shadow: 3px 6px #6c9cf488;
}