.iconContainer{
  position: fixed;
  bottom: 120px;
  right: 5px;
  z-index: 900;
  justify-content: center;
  align-items: center;
}

.socialIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  /* animation: shake 0.4s ease-in-out infinite; */
}

  .icon:hover {
    animation: shake 0.3s ease-in-out both;
  }
  
  .icon:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s ease, height 0.5s ease;
  }
  
  .icon:hover:before {
    width: 120px;
    height: 120px;
  }
  
  .messenger:before {
    background: rgba(138, 58, 185, 0.3);
  }
  
  .zalo:before {
    background: rgba(40, 167, 255, 0.3);
  }
  .chatContainer {
    font-size: 1.2rem; /* Tăng kích thước chữ chung trong chatbox */
    width: 35rem; /* Điều chỉnh kích thước tùy theo nhu cầu */
    height: 40rem; /* Điều chỉnh chiều cao tùy theo nhu cầu */
    position: fixed; /* Đảm bảo MainContainer nằm cố định trên màn hình */
    bottom: 2.5rem; /* Khoảng cách từ đáy */
    right: 1.5rem; /* Khoảng cách từ bên phải */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 3000;
    overflow: hidden; /* Ẩn thanh cuộn */
  }
  .my-chat-container {
    background-color: plum;
    height: 300px;
  }
  .chatList {
    overflow-y: auto; /* Hiển thị thanh cuộn dọc nếu cần */
  }

@media (max-width: 768px) {
  .chatContainer {
    bottom: 1.5rem; 
    right: 0.5rem; 
  }
  .icon:before {
    display: none;
  }
}

 @keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
}