/* ChatBox.css */

.chat-toggle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .chat-toggle-button-open {
    background-color: #28a745;
  }
  
  .chat-toggle-button-close {
    background-color: #dc3545;
  }
  
  .chat-box-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 35rem;
    height: 40rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #007bff;
    border-radius: 10px 10px 0 0;
  }
  
  .chat-header-left {
    display: flex;
    align-items: center;
  }
  
  .chat-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .chat-title {
    color: white;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .chat-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  .online {
    background-color: green;
  }
  
  .offline {
    background-color: red;
  }
  
  .chat-close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .chat-messages {
    padding: 10px;
    overflow-y: auto;
    flex: 1;
  }
  
  .chat-input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  