/* ChatComponent.css */
.cs-message__content {
  font-size: 12px;
}
.cs-main-container {
  font-size: 1.4rem;
  width: 50%;
  left: 50%;
  height: 80%;
  margin-top: 20%;
  overflow: hidden;
  /* position: fixed; */
  transform: translateX(-50%); /* Căn giữa chính xác */
  z-index: 1000;
}

.close-button {
  overflow: hidden;
  /* position: fixed; */
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}

.open-button {
  position: fixed;
  bottom: 100px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}

.open-button {
  background-color: #28a745;
}

.close-button {
  background-color: #dc3545;
}
