.contentService {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 5px; 
    text-align: center;
}

/* For mobile devices (up to 600px wide) */
@media (max-width: 600px) {
    .contentService {
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: column; /* Stack content vertically */
        height: 30vh; /* Adjust height for smaller screens */
        padding: 10px; /* Reduce padding for small screens */
    }
}

/* For tablets and small desktops (601px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    .contentService {
        margin-top: 10px;
        flex-direction: row; /* Align items horizontally */
        height: 70vh;
        padding: 15px;
    }
}

/* For large desktops (1025px and above) */
@media (min-width: 1025px) {
    .contentService {
        margin-top: 10px;
        flex-direction: row; /* Align items horizontally */
        height: 70vh;
        padding: 20px; /* Maintain padding */
    }
}


