.datePickerCustome {
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    gap: 10px;
  }

  .datePickerCustome .ant-picker {
    padding: 10px;
    background-color: #ece8de;
    border-width: 0px;
    border-color: #bf9456;
  }
  /* .datePickerCustome .ant-input {
    padding: 10px;
    background-color: #ece8de;
    border-color: #bf9456;
    border-width: 0px;
  } */
  .datePickerCustome .ant-input-outlined {
    padding: 10px;
    background-color: #ece8de;
    border-color: #bf9456;
    border-width: 0px;
    width: 100%;
  }
  .datePickerCustome .ant-btn {
    padding: 10px;
    background: #bf9456;
    box-shadow: none;
    height: auto;
  }
  /* @media (max-width: 768px) {
    .custom-dropdown-range-picker {
      max-height: 300px; 
      max-width: 300px; 
      overflow-x: auto;  
      overflow-y: hidden; 
    }
  } */

  /* @media(max-width: 576px) { 
    .ant-picker-panels { 
      flex-direction: column;
    } 
  } */
  

  .ant-picker-panel:last-child {
    width: 0;
  }
  
  .ant-picker-panel:last-child .ant-picker-header {
    position: absolute;
    right: 0;
  }
  
  .ant-picker-panel:last-child .ant-picker-header .ant-picker-header-prev-btn,
  .ant-picker-panel:last-child .ant-picker-header .ant-picker-header-view {
    visibility: hidden;
  }
  
  .ant-picker-panel:last-child .ant-picker-body {
    display: none;
  }
  
  @media (min-width: 768px) {
    .ant-picker-panel:last-child {
      width: 280px !important;
    }
  
    .ant-picker-panel:last-child .ant-picker-header {
      position: relative;
    }
  
    .ant-picker-panel:last-child .ant-picker-header .ant-picker-header-prev-btn,
    .ant-picker-panel:last-child .ant-picker-header .ant-picker-header-view {
      visibility: initial;
    }
  
    .ant-picker-panel:last-child .ant-picker-body {
      display: block;
    }
  }
  