.ant-dropdown-link {
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.ant-dropdown-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ant-dropdown-menu-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.ant-dropdown-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.ant-dropdown-menu-item a {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
}

.ant-dropdown-menu-item a:hover {
  color: #1890ff;
}

.header-avatar {
  background-color: #5382d5;
}

.logo-header {
  display: flex;
  align-items: center;
}

.logo-header-img {
  width: 6.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.logo-header-title-1 {
  margin: 0;
  padding: 0;
  font-size: 2.8rem;
  line-height: 1.5rem;
}

.logo-header-title-2 {
  font-size: 1.15rem;
  color: #888;
  line-height: 1.5rem;
}

@media (max-width: 768px) {
  .container {
    padding: 19px;
  }
  .hero-title {
    max-width: 680px;
    color: #bf9456 !important;
  }
  .logo-header-img {
    width: 6.5rem;
    border-radius: 50%;
    margin-right: 0;
  }

  .logo-header-title-1 {
    display: none;
  }

  .logo-header-title-2 {
    display: none;
  }

  .nav-toggle-btn {
    margin-left: auto;
  }

  .grid-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
    /* Ẩn thanh cuộn */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .grid-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .service-card {
    flex: 0 0 auto;
    min-width: 300px;
  }

  .containerServiceList {
    padding: 10px;
  }
}
/* } */
