.headerContainer {
  /* margin-bottom: 6rem; */
}
/* Example custom styles in your header.module.css */
/* .navItem .ant-badge {
  position: relative;
  top: -10px; 
  right: -5px; 
} */

.header {
  background-color: #454545;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 10rem;
  margin-right: 1rem;
}

.navbar {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 1rem;
}

.navItemRepo {
  display: none;
}

.navLink {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.navLink.active {
  color: #bf9456; /* Màu chữ khi liên kết được active */
}

.navLink:hover,
.navLink:focus {
  color: #bf9456;
  text-decoration: none;
}

.loginLink {
  margin-left: 1rem;
}

.loginLink span {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  font-size: 1.2rem;
  background-color: #bf9456; /* Màu nền của nút */
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.loginLink span:hover {
  background-color: #f4f2eb;
  color: #333333;
}

.avatarLink {
  height: 3rem;
  width: 3rem;
  background-color: #bf9456;
  margin-left: 20px;
}

.menuToggle {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.iconHeaderActive {
  font-size: 24px;
  color: #bf9456;
}

.iconHeader {
  font-size: 24px;
  color: #ffffff;
}

.iconHeader :hover {
  color: #bf9456;
}

.qr {
  color: white;
  font-size: 2rem;
}

.avatarContaint {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.modalAvatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom-width: 1px;
  border-color: #bf9456;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.modalLinkContaint {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  border-bottom-width: 1px;
  border-color: #bf9456;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.modalLink {
  color: #333333;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.modalLink.active {
  color: #bf9456; /* Màu chữ khi liên kết được active */
}

.modalLink:hover,
.modalLink:focus {
  color: #bf9456;
  text-decoration: none;
}

.customNotification {
  position: fixed; /* Đặt ở vị trí cố định */
  margin-top: 80px;
  top: -100%; /* Bắt đầu từ bên ngoài màn hình ở phía trên */
  right: 2%; /* Đặt modal sát cạnh phải */
  width: 30%; /* Chiều rộng 1/5 chiều rộng màn hình */
  height: 85vh; /* Chiều cao toàn màn hình */
  background-color: white; /* Màu nền */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); /* Đổ bóng */
  z-index: 900; /* Đặt z-index cao hơn để hiển thị trên các thành phần khác */
  overflow-y: auto; /* Cho phép cuộn dọc */
  transition: top 0.5s ease; /* Thêm hiệu ứng chuyển động */
  min-width: 300px;
  border-end-start-radius: 1rem;
  border-end-end-radius: 1rem;
  scrollbar-width: none;
}

.customNotification.show {
  top: 0; /* Di chuyển vào trong màn hình từ trên xuống */
}

.notificationHeader {
  padding: 10px; /* Thêm khoảng cách bên trong */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f2eb;
}
.notificationHeader p{
  margin: 0;
  font-weight: bold;
}
.notificationButtonClose{
  color: #bf9456;
  font-weight: bold;
}
/* .notificationButtonClose button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
} */

.notificationContent {
  max-height: 100vh;
  overflow-y: auto;
  padding: 10px;
  background-color: #f4f2eb;
  /* Ẩn thanh cuộn trên Webkit (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 0px; /* Đặt kích thước của scrollbar là 0 để ẩn */
    background: transparent; /* Nền trong suốt để không hiển thị */
    display: none;
  }
}


.notificationItem {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  /* border-width: 5px;
  border-color: #bf9456; */
  border-radius: 0.5rem;
}
.unread {
  margin-block: 10px;
  background-color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease;
}

/* Thông báo đã đọc */
.read {
  background-color: #f4f2eb;
}

/* .notificationItem:last-child {
  border-bottom: none;
} */

.notificationTitle {
  font-size: 16px;
  font-weight: bold;
  color: #bf9456;
}

.notificationSubTitle {
  font-size: 14px;
  color: #666;
}

.notificationItem:hover {
  background-color: #d8d8d8;
}

.notificationFilter {
  display: flex;
  justify-content: start;
  margin-left: 10px;
}

.notificationFilter div {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 5px;
  font-size: 1rem;
}

.activeButton {
  background-color: #bf9456;
  color: white;
}

.loadMoreButton,
.backButton {
  background-color: #bf9456;
  color: white;
  border: none; /* Remove default border */
  padding: 10px 20px; /* Adjust padding for a better look */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition for background and color */
}

/* Hover effect */
.loadMoreButton:hover,
.backButton:hover {
  background-color: #a67944; /* Darker shade for hover */
  color: #f5f5f5; /* Lighter text color on hover */
}
.backButton {
  margin-right: 10px; /* Space between buttons */
}


@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }

  .navList {
    flex-direction: column;
    background-color: #454545;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0 1rem;
  }

  .navItem {
    display: none;
  }

  /* .navItemRepo {
    display: block;
  }

  .menuToggle {
    display: block;
  } */

  /* .loginLink {
    display: none;
  } */
  .customNotification {
    width: 100%;
    height: 90vh;
    right: 0;
    border-radius: 0;
  }
}
