.header-container {
    position: relative;
    z-index: 9999;
  }
  
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .header-top {
    /* background-color: #333; */
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
  }
  
  .header-bottom {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s, height 0.3s;
    z-index: 999;
  }
  
  .header-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
  }
  
  .header-bottom.shrink {
    background-color: black;
    height: 80px;
  }
  
  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .navbar-item {
    margin: 0 15px;
  }
  
  .navbar-link {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-header-img {
    width: 60px;
    height: auto;
  }
  
  .logo-header-title-1 {
    font-size: 1.5rem;
    color: white;
  }
  
  .logo-header-title-2 {
    font-size: 1rem;
    color: white;
  }