@import url("../css/root.css");
.homepage-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-wrapper {
    position: relative;
  }

  .hero {
    --section-padding: 100px;
    padding-block-start: 140px;
    background-position: left;
  }
  
  .hero::before {
    inset: 0;
    background-color: hsla(0, 0%, 5%, 0.5);
    mix-blend-mode: multiply;
    z-index: -1;
  }
  
  .hero-text {
    color: hsl(0, 0%, 100%) !important;
    padding: 15px;
    background: rgba(51, 51, 51, 0.6);
    border-radius: 5px;
    margin-block: 15px 40px;
  }

  .btn {
    color: hsl(0, 0%, 100%);
    background-color: #bf9456;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: max-content;
    padding: 10px 25px;
    font-family: "Lora", serif;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .btn::before {
    background-color: hsl(0, 0%, 14%);
    inset: 0;
    z-index: -1;
    transform: skewY(-15deg) scaleY(0);
    transition: 0.5s ease;
  }
  
  .btn:is(:hover, :focus)::before {
    transform: skewY(-15deg) scaleY(2.5);
  }

  .btn {
    padding: 13px 40px;
  }

  .has-before,
  .has-after {
    position: relative;
    z-index: 1;
  }
  
  .has-before::before,
  .has-after::after {
    position: absolute;
    content: "";
  }

  .has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  /* .scroll-icons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    pointer-events: none;
  } */
  
/* Scroll Icons */
.scroll-icon {
  font-size: 2.5rem;
  color: #333333;
  cursor: pointer;
  z-index: 10;
  background-color: #bf9456;
  padding: 0.5rem;
  border-radius: 50%;
}

.scroll-icon:hover {
  color: #bf9456;
  background-color: #333333;
}

/* Position Icons */
.scroll-icon-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.scroll-icon-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
  
  .scroll-content {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 1rem
  }
  
  .scroll-content::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
  }

  .customTitle1 {
    position: relative;
    text-align: center;
    font-family: var(--font-primary);
    font-weight: 800 !important;
    font-size: 40px;
    text-transform: uppercase;
  }

  .customTitle {
    position: relative;
    padding-block: 1rem;
    text-align: center;
    font-family: var(--font-primary);
    font-weight: 800 !important;
    font-size: 40px;
    text-transform: uppercase;
  }
  
  .customTitle::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px ;
    height: 2px; 
    background-color: #333333; /* Màu của dòng kẻ ngang */
  }

  .location-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .location-card-container {
    display: flex;
    justify-content: center;
    align-items: center
  }
  
  .location-card {
    overflow: hidden;
    margin: 1rem;
    /* background-color: #bf9456; */
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
    max-width: 60rem;
    height: 50rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-grow: 1;
  }

  /* .location-card img {
    border-radius: 0 0 2px 2px;
  } */
  
  .banner-card {
    border-radius: 2px;
    overflow: hidden;
    margin: 1rem 0;
    border-radius: 10px;
    background-color: #bf9456;
    /* border-width: 10px;
    border-color: #333333; */
  }
  .location-card-col{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .location-card-buton{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .location-buton1{
    margin-right: 1rem;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: #fff;
  }
  
  .location-buton1 {
    &:hover {
      background-color: #333333 !important; /* Giữ nguyên màu nền */
      color: #fff !important; /* Giữ nguyên màu chữ */
    }
  }
  
  .location-buton2{
    margin-right: 1rem;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #333;
  }
  
  .location-buton2 {
    &:hover {
      background-color: #fff !important; /* Giữ nguyên màu nền */
      color: #333 !important; /* Giữ nguyên màu chữ */
    }
  }

  .title-container{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
  }
  
  .titleHomePage{
    color: #ffffff !important;
    font-family: var(--font-secondary);
    font-size: 3rem;
    margin-bottom: 3rem;
    background-color: #41403faa;
    padding: 1rem;
    border-radius: 3px;
    text-align: center;
  }

  .card-homepage{
    border-radius: 2px;
    overflow: hidden;
    margin: 10rem 0;
    padding: 5rem 0;
    border-radius: 10px;
    background-color: #f4f2eb;
    /* border-width: 10px;
    border-color: #bf9456; */
  }
  .title-card-homepage{
    font-weight: bold;
    margin-left: 1rem;
    display: block;
    margin-bottom: 10rem;
    background-color: #bf9456;
    padding: 1rem;
    border-radius: 5px;
    color: white !important ;
    font-family: var(--font-primary);
  }
  
  .text-card-homepage{
    font-size: 1.2rem;
    margin-left: 1rem;
    display: block;
    max-width: 50rem;
    margin-bottom: 5px;
    font-family: var(--font-primary);
    text-align: center;
  }

  .container-service-list {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
  }

  .scroll-icon2 {
    font-size: 3rem;
    color: white;
    background-color: #bf9456;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
  }

    .scroll-icon2:hover {
    color: #bf9456;
    background-color: #333333;
  }
  
  .left-icon {
    left: 0;
  }
  
  .right-icon {
    right: 0;
  }

  .card-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 1rem;
    margin: 1rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .card-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .service-card2 {
    flex: 0 0 auto;
    min-width: 300px;
    transition: transform 0.3s ease-in-out;
  }
  
  .service-card2:hover {
    transform: scale(1.05);
  }

  .container {
    padding-inline: 6rem;
  }

  .small-card-salon {
    flex: 0 0 auto;
    width: 18rem;
  }

  /* .small-card {
    width: 220px;
  } */
  
  /* .small-card .ant-card-body {
    padding: 10px;
  }
  
  .small-card .ant-card-meta-title {
    font-size: 1000px;
  }
  
  .small-card .ant-card-meta-description {
    font-size: 11px;
  }
  
  .small-card .ant-card-actions li {
    margin: 6px 0;
  } */

  
  @media (max-width: 768px) {
    .scroll-icon {
      display: none;
    }
    /* .location-card img {
      display: none;
    } */
    .location-card-buton{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: "100%";
    }
    .location-buton1{
      width: 100%;
      margin-bottom: 10px;
    }
    .location-buton2{
      width: 100%;
    }
    .location-card-container{
      margin: 5rem 0;
    }
    .location-card {
      height: auto;
    }
    .card-homepage{
      border-radius: 2px;
      overflow: hidden;
      margin: 1rem;
      padding: 3rem 0;
      border-radius: 1rem;
      background-color: #f4f2eb;
      /* border-width: 10px;
      border-color: #bf9456; */
      /* height: max-content; */
    }
    .card-homepage .ant-card-body .ant-row {
      display: flex;
      flex-direction: column;
      flex-flow: wrap;
    }
  
    .title-card-homepage {
      margin: 2px;
      text-align: center;
      margin-bottom: 2rem;
      font-size: 1.2rem;
    }
  
    .text-card-homepage {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
    }
    /* .video-card-homepage{
      position: absolute;
      top: 0;
      left: 0;
      width: 10%;
      height: 10%;
      max-width: 10rem;
      max-height: 10rem;
      object-fit: contain;
    } */
  
    .scroll-icon2 {
      display: none;
    }
    .container-service-list {
      margin-bottom: 5rem;
    }
    .container {
      padding-inline: 0.5rem;
    }
    .homepage-container{
      display: block;
    }
    .customTitle1 {
      font-size: 2rem;
    }
    .customTitle {
      font-size: 2rem;
    }
    
  }

  /* @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {  
    .container {
      max-width: 1200px;
    }
  }

  @media (min-width: 575px) {
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  } */
  
  