.container_list {
  margin-top: 6rem;
margin-inline: 2rem;
}
.salon-title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.responsive-card {
  width: 100%;
  padding: 0;
  background-color: #ece8de;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.responsive-card .ant-card-body {
  width: 100%;
  padding: 0;
}
.salon-title {
  font-size: 1.5rem;
  color: black;
}
.responsive-col {
  width: 20rem;
  margin-bottom: 20px;
}
.table-fillter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-block: 1rem;
}
.table-fillter-item {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/* :global(.my-custom-add > button) {
  background-color: #BF9456!important;

}
:global(.my-custom-add .ant-btn:hover) {
  color: #d9eb3e !important;
  background-color: #ffffff !important;
  border-color: #4096ff !important;
} */
/* :global(.ant-btn){
  background-color: #BF9456;
}
:global(.ant-btn:hover) {
  background-color: #66460b !important; 
  color: #ffff !important; 
  border-color: #ffff !important; 
  transition: background-color 0.3s ease; 
} */
:global(.my-custom-add .ant-btn) {
  background-color: #BF9456 !important;
  border-color: #BF9456 !important;
}

:global(.my-custom-add .ant-btn:hover) {
  background-color: #A38245 !important;
  border-color: #A38245 !important;
  color: white !important;
}

.table-container {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
}

.table-container table {
  width: 100%;
  min-width: 600px; /* Set a minimum width for the table */
}

.custom-header {
  color: #bf9456;
  text-align: start;
  font-weight: bold;
  font-size: 1.3rem;

}

@media (max-width: 768px) {
  .container_list {
    margin-top: 140px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .salon-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .salon-title {
    font-size: 1rem;
    color: black;
  }
  .salon-title-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .dropdown-btns {
    display: none;
  }
  .dropdown-icon {
    display: block;
  }
  .responsive-row {
    flex-direction: column;
  }
  .responsive-col {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .responsive-col1 {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .responsive-card {
    width: 100%;
    padding: 0;
  }
  .responsive-descriptions {
    width: 100%;
  }
  .small-text {
    font-size: 12px;
  }
  .table-fillter {
    flex-direction: column;
    align-items: flex-start;
    margin-block: 5px;
  }
  .table-fillter-item {
    margin-bottom: 5px;
    width: 100%;
  }
  .table-container {
    padding: 10px; /* Optional: Add padding for better UX on small screens */
  }
}
@media (min-width: 769px) {
  .dropdown-icon {
    display: none; /* Ẩn icon dropdown */
  }
}
