.container_list {
    margin-top: 140px;
    margin-left: 60px;
    margin-right: 60px;
  }
  .salon-title {
    font-size: 1rem; /* Giảm kích thước chữ */
    padding: 1rem; /* Giảm khoảng đệm */
  }
  .responsive-col {
    width: 20rem;
    margin-bottom: 20px; 
  }  

  @media (max-width: 768px) {
    .container_list {
        margin-top: 140px;
        margin-left: 10px;
        margin-right: 10px;
      }
    .salon-title {
        font-size: 1rem; 
        padding: 1rem; 
      }
    .dropdown-btns {
        display: none; 
      }
    .dropdown-icon {
        display: block;
      }
      .responsive-row {
        flex-direction: column;
      }
      .responsive-col {
        width: 100% !important;
        margin-bottom: 20px; 
      }  
      .responsive-col1 {
        width: 100% !important;
        margin-bottom: 20px; 
      } 
    .responsive-card {
        width: 100%;
      }
    .responsive-descriptions {
        width: 100%;
      } 
    .small-text {
        font-size: 12px; 
      }
}
@media (min-width: 769px) {
    .dropdown-icon {
      display: none; /* Ẩn icon dropdown */
    }
  }