/* Custom CSS for Ant Design Steps component */
.registerSteps .ant-steps-item-icon {
  font-size: 12px; /* Adjust the font size */
}

.registerSteps .ant-steps-item-icon .ant-steps-icon {
  font-size: 16px; /* Adjust the size of the icon inside the step */
  padding: 8px; /* Adjust the padding */
}

.login-form-page {
  /* display: block; */
}
.register-img {
  width: 100%;
  max-width: 300px; 
  flex: 1;
}

.register-child-img {
  width: 100%;
  min-height: 20rem; 
  object-fit: cover; 
}

@media (max-width: 768px) {
  .register-img {
    max-width: 200px; 
  }
}

@media (max-width: 480px) {
  .register-img {
    max-width: 150px; 
  }
}


/* @media (max-width: 768px) {
  .register-img {
    width: 15rem;
    height: 15rem;
  }

  .register-child-img {
    height: 15rem;
  }
} */
