.payment-commission-container {
  margin-top: 10rem;
  margin-left: 20rem;
  margin-right: 20rem;
}

.back-button {
  margin-bottom: 1rem;
}

.back-link-button {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: black;
}

.invoice-container {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.commiss-tiltle {
  font-size: 1.5rem;
  font-weight: bold;
}

.commiss-p {
    font-size: 1.5rem;
}

.host-money {
  font-size: 1.5rem;
  color: #498af4;
  font-weight: bold;
}

.invoice-id {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.payment-amount {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}

.recipient-payer-info {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.invoice-table {
  margin-top: 2rem;
}

.invoice-summary {
  margin-top: 2rem;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  font-size: 0.9rem;
}

.invoice-summary p {
  margin: 0;
}

.total-amount {
  font-size: 1.8rem;
  font-weight: bold;
  color: red;
  border-top: 1px solid #ccc;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}

.action-buttons {
  margin-top: 1rem;
  text-align: center;
}

.action-buttons button {
  margin: 0 0.5rem;
  font-size: 1rem;
}
