.detail-salon-col-1 {
  /* margin-left: 8rem;
  margin-right: 8rem; */
}

.detail-salon-col-2 {
  /* margin-right: 8rem; */
}
.container {
  padding: "0 50px";
}
/* customCheckbox.css */
.custom-checkbox {
  color: white; /* Đặt màu chữ */
  background-color: #1a94ad; /* Đặt màu nền cho span */
  padding: 5px 10px; /* Đặt padding cho span */
  border-radius: 8px; /* Bo tròn các góc của span */
  display: inline-block; /* Đặt span thành inline-block */
  cursor: pointer; /* Thay đổi con trỏ khi hover */
}

.custom-checkbox.booked {
  background-color: #28a745; /* Đặt màu nền cho "Booked" */
}

.custom-checkbox:hover {
  background-color: #007bff; /* Đặt màu nền khi hover */
}
.no-close-btn .ant-modal-close {
  display: none;
}
.close-button-close:hover {
  transform: rotate(90deg);
}
.css-dev-only-do-not-override-wb61s4.ant-layout {
  /* Các thuộc tính CSS bạn muốn áp dụng */
  background-color: #F4F2EB;
  /* Thêm các thuộc tính khác tùy theo nhu cầu */
}
.css-dev-only-do-not-override-wb61s4 .ant-row {
  display: flex;
  flex-flow: nowrap;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .detail-salon-col-1 {
    margin-left: 0;
  }
  .detail-salon-col-2 {
    margin-left: 0;
  }
  .container {
    padding: "0 10px";
  }
}

.rating-overlay {
  position: absolute;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: right;
  z-index: 2;
}

.rating-score {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.carousel-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.custom-collapse .ant-collapse-header {
  padding: 0 !important;
}

.rating-stats-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 1rem;
}

.rating-summary {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.rating-summary h3 {
  /* padding-top: 3rem; */
  font-size: 1.5rem;
}

.rating-summary h3 span {
  display: inline;
  font-size: 2.5rem;
  font-weight: bold;
}

.rating-summary,
.rating-distribution {
  flex: 1;
}

.rating-bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.star-value {
  flex-basis: 20%;
  text-align: right;
  padding-right: 10px;
}

.rating-progress-bar {
  flex-basis: 60%;
  margin: 0 10px;
}

.rating-progress-bar .ant-progress-bg {
  background-color: gold;
}

.review-count {
  flex-basis: 20%;
}

.sticky-col {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0; /* Adjust as needed for your header height */
  height: 100vh;
  overflow-y: auto;
}

.scroll-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.scroll-wrapper {
  overflow: hidden;
  flex: 1;
  width: 100%;
}

.arrow-button {
  background: none;
  border: none;
  cursor: pointer;
}

.selected {
  background-color: #1890ff;
  color: white;
}

.time-picker {
  margin-top: 16px;
  text-align: center;
}

.time-selector {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.time-slots {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 8px;
  margin-top: 16px;
}

.time-slots button {
  flex: 0 0 auto;
}

.date-picker {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.warning-title {
  color: #0059ff !important;
  -webkit-box-shadow: 0px 0px 50px 15px #00b7ff;
  -moz-box-shadow: 0px 0px 50px 15px #00b7ff;
  box-shadow: 0px 0px 50px 15px #00b7ff;
  border-radius: 50px;
  margin: 0 auto;
}
