/* Đặt kiểu cơ bản cho container chính */
.container {
    margin-top: 18rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  /* Định dạng các nút trạng thái */
  .status-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .status-buttons button {
    flex: 1;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .status-buttons button.active {
    background-color: blue;
  }
  
  /* Định dạng danh sách cuộc hẹn */
  .appointment-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .appointment-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    width: calc(100% / 2 - 1rem); /* Hiển thị 2 cột trên màn hình lớn */
    box-sizing: border-box;
  }
  
  /* Modal CSS */
  .ant-modal {
    padding: 2rem;
  }
  
  .ant-modal-title {
    font-size: 1.5rem;
  }
  
  .ant-modal-body {
    max-height: 60vh;
    overflow-y: auto;
  }
  
  .ant-pagination {
    margin-top: 2rem;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .status-buttons {
      flex-direction: column;
      align-items: center;
    }
  
    .status-buttons button {
      width: 100%;
    }
  
    .appointment-item {
      width: calc(100% - 1rem); /* Hiển thị 1 cột trên màn hình nhỏ */
    }
  }
  
  @media (max-width: 480px) {
    .container {
      margin-top: 10rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  
    .appointment-item {
      padding: 0.5rem;
    }
  
    .ant-modal-body {
      max-height: 50vh;
    }
  }
  