  .schedule {
    background-color: #f4f2eb;
    padding-inline: 50px;
    border-radius: 8px;
    margin-top: 80px;
  }

  .header {
    font-size: 18px;
    color: #bf9456;
    font-weight: bold;
  }

  .rbc-event {
    background-color: #bf9456; /* Màu nền của sự kiện */
    color: white; /* Màu chữ */
  }
  
  .rbc-today {
    background-color: #f4f2eb; /* Màu nền cho ngày hiện tại */
  }

  @media (max-width: 768px) {
    .schedule {
      padding: 10px;
      border-radius: 5px;
    }
  
    .header {
      font-size: 16px;
      text-align: center;
    }
  }
    